@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide font-['poppins'];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-['poppins'];
  }

  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#7b79c0] to-[#5a6172] text-white;
  }
}

.color-main {
  color: #7b79c0;
}

.navbarLink {
  @apply my-auto p-2 rounded-sm text-sm  uppercase  ml-10  hover:shadow-[#7b79c0] hover:shadow-sm hover:text-[#7b79c0] hover:ease-in-out duration-150;
}
.text-dark {
  @apply text-gray-400;
}
.navlink {
  @apply my-auto p-2 rounded-sm text-sm  uppercase  ml-10 bg-inherit hover:bg-gradient-to-bl;
}
